
<div class='homepage small-12' >

  <div class='row'>
    <div class="title_page large-10 large-cenetered columns medium-6 medium-cenetered columns small-8 small-centered columns"
      <h1> Discover </h1>
      <br/>
      </br>
      </br>
      <div class="enter"><%= link_to "Explore".html_safe, locations_path  %></div>
    </div>
  </div>

</div>
<div class="footer">
  <%= render 'layouts/footer' %>
</div>
