
<div class='homepage'>

  <div class='row'>
    <div class="title_page"
      <h1> Discover </h1>
      <br/>
    </br>
  </br>
      <div class="enter"><%= link_to "Explore".html_safe, locations_path  %></div>
    </div>
  </div>






</div>
