<h1>Cool places </h1>

<%= @user.name  %>
<br/>
<br/>


<% @locations.each do |item| %>
  <div class="items_profile">
      <br/>
      <div class="box1"><img src="<%=item['cover_url']%>"/></div>
        <h4><div class="title_name"><%=item['name'] %></div></h4>
        <div class="delete"><%= link_to 'Delete',  location_path(user_id: @user.id, location_id: item.id), method: :delete %></div>
        <br/>
  </div>
<% end  %>
