.navbar-text {
  background-color: #999999
}

/*.background2 {
  background-color: white;
}*/

.homepage {
  background: url(./explore.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 1%;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  height: 100%;
  position: fixed;

}

/*title*/
.title_page {
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.nav_buttons {
  text-align: center;
}



.search-forms {
  vertical-align:top;
}

.item-page {

}

.form {
  /*width: 125px;
   padding: 5px;
   border: 3px solid black;
   margin: 30px;
   background: #FFEBCD;
   opacity: 0.6; */
background-color: rgba(5,4,2,0.35);
/*width:300px;
height: 100%;
margin: 5px;
padding: 45px;*/
}

.location_background {
  background: url(./breakable-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 15%;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 100%;
height: 100%;
width: 100%;

}

.items {
  border: 5px solid black ;
  text-align: center;
  margin: 5%;
}

.items_profile {
  border: 3px solid black ;
  width: 250px;
  margin-bottom: 20px;
}

.title_name {
  text-align: center;
}

.box1 {
  text-align: center;
}

.delete {
  text-align: center;
}

.discover {
  font-size: 20px;
  border: red;
  color: blue;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
